APP_ENV=local
APP_DEBUG=true
APP_KEY=daR0Hlrf6OpMZTQJh60ATael5LNMDvNR
APP_URL=http://i.robot.com
ISAPI_URL=http://www.remebot.cn/isapi/remeisapi.dll/?

DB_HOST=127.0.0.1	
DB_DATABASE=remrobot
DB_USERNAME=root
DB_PASSWORD=

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

MAIL_DRIVER=smtp
MAIL_HOST=smtp.remebot.com.cn
MAIL_PORT=25
MAIL_USERNAME=remebot@remebot.com.cn
MAIL_PASSWORD=bhwk_123!@#
MAIL_ENCRYPTION=null

WECHAT_APPID=
WECHAT_SECRET=