[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
body,html{
    height: 100%;
}
body.auth-body{
    background-image: url('../assets/img/login-bg.jpg');
    background-size: cover;
}
.clearfix:before,
.clearfix:after
{
    content: "";
    display: table;
    clear: both;
}
.no-animate {
   -webkit-transition: none !important;
   transition: none !important;
}
.panel{
 width: 100%;
 position: relative;
}

.user-nav{
    position: absolute;
    right: 0;
    top: 0px;
}

.pt10{
    padding-top: 10px; 
}
.mt10{
    margin-top: 10px;
}

input.form-control, select.form-control, textarea.form-control{
    background-color: #fff;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075)!important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075)!important;
}

.form-control:focus {
    border-color: #66afe9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(102, 175, 233, 0.6)!important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(102, 175, 233, 0.6)!important;
}

.mt20{
    margin-top: 20px;
}

.mb20{
    margin-bottom:20px;
}
.tool_wrapper{
    overflow: hidden;
    display: inline-block;
    margin-top: 10px;
}
td.edit{
    text-align: center;
}
.dropdown-menu-right {
    right: 0;
    left: auto!important;
}

label.absolute-label {
    position: absolute;
    width: 100%;
}

#login-wrapper
{
    width: 33%;
}

#login-wrapper #email, #login-wrapper #password
{
    padding: 6px 9px;
}

#login-wrapper .text-right a{
    display: inline-block;
    margin: 10px 20px;
}

#login-wrapper .panel-primary > .panel-heading {
    background-color: #337ab7;
    border-color: #337ab7;
}

#login-wrapper .panel-primary .panel-title{
    color: #fff;
    text-align: center;
}

#login-wrapper a:link, #login-wrapper a:visited {
    color: #337ab7;
}

#login-wrapper .btn-primary[disabled],
#login-wrapper a.btn-primary:link[disabled],
#login-wrapper a.btn-primary:visited[disabled]{
    background-color: #337ab7;
}

a:link, a:visited {
    text-decoration: none;
    outline: none;
    /*color: #337ab7;*/
}

.btn-primary, a.btn-primary:link, a.btn-primary:visited {
    color: #fff;
    background-color: #337ab7;
}
.btn-primary:disabled,  .btn-primary[disabled]{
    background-color: #428bca;
    border-color: #357ebd;
}


.error
{
    color: #a10;
}

table td {
    word-wrap: break-word;         /* All browsers since IE 5.5+ */
    overflow-wrap: break-word;     /* Renamed property in CSS3 draft spec */
}

/*table {
    width: 100%;
}*/

td p
{
    width: 100% !important;
}

.tar
{
    text-align: right;
}

.agency_detail .ngdialog-content
{
    /*width: 90% !important;*/
}

div.error
{
    padding: 5px 0;
}

.tab-content
{
    padding: 20px 5px;
}

.nav > li > a:hover
{
    background-color: transparent;
    color: #333;
    border-top: none;
    border-left: none;
}

.page-nav{
    width: 800px;
}
.main-content-wrapper{
    /*min-height: 90%;写给不支持calc()的浏览器*/
    height:-moz-calc(100% - 80px);
    height:-webkit-calc(100% - 80px);
    height: calc(100% - 80px);
    overflow: auto;
}
 #main-content, #main-content .load-container{
    height: 100%;
}
.navbar-left
{
    padding: 0 50px;
}

.navbar-left ul
{
    margin: 0;
    padding: 0;
}

.navbar-left ul li
{
    display: inline-block;
    line-height: 1;
}
.navbar-left ul li a
{
    display: inherit;
    line-height: 1;
    padding: 10px;
    font-size: 16px;
}

.main-content-wrapper
{
    margin: 0;
    min-height: 1px;
}

.curp
{
    cursor: pointer;
}

tr .delete
{
    color: #aaa;
    float: right;
}

tr button.btn.btn-primary{
    color: #eee;
}

td.edit
{
    padding: 1px 5px !important;
}

.form-group
{
    display: block !important;
    margin: 10px 0;
}

.form-group:last-child
{
    margin-bottom: 10px;
}
.search_panel .form-group
{
    padding: 0;
}

.user-nav .reg_item
{
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

.pagination_wrapper
{
    width: 100%;
    text-align: right;
}

.pagination_wrapper span{
    margin-top: 30px;
}

.pagination
{
    padding: 10px;
    margin-right: 0px;
    padding-right: 0px;
}

.dropdown-toggle
{
    cursor: pointer;
}

#header .dropdown-toggle
{
    font-size: 14px !important;
}

tr:hover
{
    background: rgba(255, 255, 0, 0.2) !important;
}

.agency_detail .ngdialog-content
{
    width: 95% !important;
}

.form-group label
{
    margin-right: 10px;
}

label.error
{
    background: transparent;
    color: #a10;
    border: 0;
}

.page.doctor_home
{

}

.bold
{
    font-weight: 700;
}

.page.doctor_login label
{
    display: block;
    margin-left: 0;
}
.page.doctor_home .button_wrapper
{
    text-align: center;
}

.page.doctor_home button, .page.doctor_home a
{
    padding: 20px;
    margin-bottom: 10px;
}

.doctor_history .card
{
    background: #fff;
    margin-bottom: 10px;
    padding: 10px;
}
.doctor_history .card.special
{
    font-weight: bold;
}

.doctor_home
{

}
/*.page.doctor_home.container*/
/*{*/
    /*margin-top: 80px;*/
/*}*/
.tile-gray{
    background-color: #617d89;
    color: #fff;
}
.tile-yellow{
    background-color: #edcc91;
    color: #fff;
}
.tile-green{
    background-color: #9ec356;
    color: #fff;
}

.tile-default{
    background-color: #9e9e9e;
    color: #fff;
}
.tile-purple{
    background-color: #a0a7d9;
    color: #fff;
}
#main-content .dashboard-tile .content h1{
    font-size: 1.9em;
    text-indent: 1em;
}

#main-content .dashboard-tile .content h1 img{
    margin-right: 15px;
}

.dashboard-tile.detail {
    margin-top: 20px;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    color: #FFF;
    background-color: #286090;
    border-color: #204d74;
}

/**
 * material override
 */

.md-datepicker-input-container{
    float: left;
    margin-top: 6px;
}
.md-datepicker-input-mask{
    width: 209px!important;
}

.md-select-group{
    margin: 20px 0px;
}
.md-select-group .md-select{
    margin: 0px;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #428bca;
  border-color: #428bca;
}
.pagination > li > a,
.pagination > li > span {
  color: #428bca;
}

.ngdialog.ngdialog-theme-default .ngdialog-content {
padding: 0em;
}
.panel-default > .panel-heading {
    border-color: #eff2f7;
    /*background: #CCCCCC;*/
    color: #767676;
}
.panel-default > .panel-heading-border {
    border-color: black;
    /*background: #CCCCCC;*/
    color: #767676;
}
/**
 * datepicker
 */

._720kb-datepicker-calendar{
    width: 300px!important;
}
._720kb-datepicker-calendar-days-header div {
    width: 14.2%!important;
}

.panel-title {
    /*text-align: center;*/
  color:#000;
}
.ngdialog.ngdialog-theme-default .ngdialog-close:before {
  background: transparent;
  border-radius: 3px;
  color: #000;
  content: '\00D7';
  font-size: 36px;
  font-weight: 400;
  height: inherit;
  line-height: 26px;
  position: absolute;
  right: 3px;
  text-align: center;
  top: 9px;
  width: 30px;
}

/*//修复ｍｏｄａｌ里面下拉框看不见*/
.md-select-menu-container {
  z-index: 10000;
  }
/*表格线条的颜色*/
/*.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
    border: 1px solid black;
}
.table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>th, .table>caption+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>td, .table>thead:first-child>tr:first-child>td {
    border: 1px solid black;
}

.panel>.table-bordered>tbody>tr>td:first-child{
border-left: 1px solid black;
}
.panel>.table-bordered>tbody>tr:first-child>td{
border-bottom: 1px solid black;
}
.panel>.table-bordered>tbody>tr>td:last-child{
border-right: 1px solid black;
}

.black-border{
    border-color: black;
    border-width: 1px;
    border-style: solid;
}
.btn-custom{
  border:1px solid black;
  border-radius: 0px;
  color:black;
  padding: 1px 20px;
}
thead{
background-color: #cccccc;
}
.table>tbody>tr>td{
vertical-align: inherit;
}*/
/*删除按钮*/
/*.btn-custom-delete{
  border:1px solid black;
  border-radius: 0px;
  color:black;
  background-color: pink;
  padding: 1px 20px;
}*/

/*header 被選中樣式*/
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #fff;
    border-left: solid 4px #337AB7;
    background-color: #337AB7;
    border-radius: 3px;
}


.main-title h1{
    margin: 10px 0 0 0px;
    font-size: 1.6em;
    display: inline-block;
}

#toggle-left img{
    border-right: 2px solid gainsboro;
    padding-right: 30px;
    margin-right:30px;
    margin-top: 5px;
}

.auth-title{
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

.auth-logo{
    margin:50px 50px 0 0;
}

.home-hr{
    border: 1px solid gray;
}

/**
 * chosen
 */
select.form-control + .chosen-container.chosen-container-single .chosen-single {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    background-image:none;
}

select.form-control + .chosen-container.chosen-container-single .chosen-single div {
    top:4px;
    color:#000;
}

select.form-control + .chosen-container .chosen-drop {
    background-color: #FFF;
    border: 1px solid #CCC;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
    margin: 2px 0 0;

}

select.form-control + .chosen-container .chosen-search input[type=text] {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #FFF;
    border: 1px solid #CCC;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    background-image:none;
}

select.form-control + .chosen-container .chosen-results {
    margin: 2px 0 0;
    padding: 5px 0;
    font-size: 14px;
    list-style: none;
    background-color: #fff;
    margin-bottom: 5px;
}

select.form-control + .chosen-container .chosen-results li , 
select.form-control + .chosen-container .chosen-results li.active-result {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333;
    white-space: nowrap;
    background-image:none;
}
select.form-control + .chosen-container .chosen-results li:hover, 
select.form-control + .chosen-container .chosen-results li.active-result:hover,
select.form-control + .chosen-container .chosen-results li.highlighted
{
    color: #FFF;
    text-decoration: none;
    background-color: #428BCA;
    background-image:none;
}

select.form-control + .chosen-container-multi .chosen-choices {
    display: block;
    width: 100%;
    min-height: 34px;
    padding: 6px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #FFF;
    border: 1px solid #CCC;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    background-image:none;
}

select.form-control + .chosen-container-multi .chosen-choices li.search-field input[type="text"] {
    height:auto;
    padding:5px 0;
}

select.form-control + .chosen-container-multi .chosen-choices li.search-choice {

    background-image: none;
    padding: 3px 24px 3px 5px;
    margin: 0 6px 0 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
    background-color: #FFF;
    border-color: #CCC;
}

select.form-control + .chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
    top:8px;
    right:6px;
}

select.form-control + .chosen-container-multi.chosen-container-active .chosen-choices,
select.form-control + .chosen-container.chosen-container-single.chosen-container-active .chosen-single,
select.form-control + .chosen-container .chosen-search input[type=text]:focus{
    border-color: #66AFE9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(102, 175, 233, 0.6);
}

select.form-control + .chosen-container-multi .chosen-results li.result-selected{
    display: list-item;
    color: #ccc;
    cursor: default;
    background-color: white;
}
